*{
    box-sizing: border-box;
}
html body{
    margin:0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc;
}
.nav{
    background-color: #EF5122;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    padding-left: 16px;
    margin: auto 16px;
}
.nav-item{
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: 0 8px;
}
.form-container{
    background-color: white;
    max-width: 720px;
    margin: 50px 400px;
    padding: 32px;
}
.form-row{
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
}
.form_label{
    min-width: 90px;
}
.form_input{
    width:500px;
    flex:1;
}
.column-layout{
    padding: 12px 0;
    background-color: white;
    display: flex;
}
.column-item{
   padding: 0 16px;
}
.sidebar-one{
    flex:1;
}
.main-column{
    flex:3;
}
.sidebar-two{
    flex:1;
}
.feature-layout{
    display: flex;
    justify-content: space-around;
}
@media (max-width:800px){
    .feature-layout{
        flex-direction: column;
    }
}
.feature-item{
    flex-basis: 30%;
    margin-top: 50px;
    padding: 12px 16px;
}
.feature-item:nth-child(1){
    background-color: #9ae7ab;
}
.feature-item:nth-child(2){
    background-color: #f08f71;
}
.feature-item:nth-child(3){
    background-color: rgb(241, 158, 241);
}
.wrap-layout{
    background-color: white;
    display: flex;
    padding: 12px 0 32px 0;
    margin-top: 36px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrap-layout-item{
    background-color: rgb(240, 80, 51);
    width: 148px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
}
.center-layout{
    display: flex;
    margin: 36px auto 36px auto;
    padding: 100px 0;
    max-width: 840px;
    height: 360px;
    background-color: rgb(165, 243, 165);
}
.center-layout_item{
    font-size: 48px;
    font-weight: 700;
    margin: auto;
}
.chart-layout{
    background-color: white;
    height: 320px;
    padding: 32px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /*flex-wrap: wrap-reverse;*/
}
.chart-layout__item{  
    color: white;
    text-align: center;
    font-weight: 400;
    width: 60px;
    background-color: tomato;
    height: var(--percent);
    animation: growth ease-in 0.5s;
}
@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
}
.the-end{
    padding: 36px 0;
    max-width: 800px;
    min-height: 360px;
    margin: 12px auto 48px auto;
    display: flex;
}
.the-end__first{
    background-color: white;
    padding: 4px 16px;
    flex: 1;
}
.the-end__second{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.the-end__second-one{
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(238, 180, 238);
}
.the-end__second-two{
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(143, 143, 233);
}